.register-page{
    background-image:url('https://s3.envato.com/files/243754334/primag.jpg') ;
    height: 45rem;
}

.btn-register{
    color: black;
    font-size: 16px;
    border: 1px solid white;
    background-color: #ecbf28;
    width: 32%;
    margin-left: 34%;
    margin-top: 2px;
    box-shadow: 0px 2px 2px 0px white;


}
.btn-register:hover{
    box-shadow: 2px 1px 2px 3px #99ccff;
    background:#5900a6;
    color:#fff;
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
    

}
.title-register{
    color: #d44360;
    text-align: center;
    font-size: 2.5rem;
}

    

.card {
    margin: auto;
    
}
.loginLink {
    font-size: 2rem;
    color: #d44360 ;
}

.form-label {
    color: #d44360;
    font-size: 1.2rem;
   
}

