.confidentalité {
    font-size: 14px;
}

.foter{
    background-color: #f6eded;
    margin-top: 100px;
    width: 100%;
}
.pay-img {
    width:30px;
    height: 30px;
    margin:10px;
}
.imgs{
    margin-top: 60px;
    position: relative;
    right: 40px;
    margin-left: 15px;

}
.mod-title{
    margin-top: 60px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    right: 40px;
}
.footer-link{
    line-height: 30px;
    font-size: 15px;
}
ul{
    list-style-type: none;
}
.serv{
    margin-top: 40px;
}
.prop{
    margin-top: 40px;

}
.prop-titre{
    margin-top: 50px;
    margin-left: 25px;
}
.serv-titre{
    margin-top: 50px;
    
}
.cont-titre{
    margin-top: 50px;
    margin-left: 25px;
}
.cont-list{
    margin-top: 40px;

}
.part1{
    margin-left: 10px;
}
.part2{
    margin-left: 10px;
    position: relative;
    left: 50px;
}
.part3{
    margin-left: 10px;
    position: relative;
    left: 150px;
}
.part4{
    margin-left: 150px;
    
    position: relative;
    left: 120px;
}

.footer-title{
    position: relative;
    right:50px;
    margin-top: 2.5rem;
    color: red;
    font-size: 3rem;
}


.fa-facebook {
    
    color: blue;
}
.fa-instagram {
    margin: 0.5rem;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);

}

.fa-youtube {
    margin: 0.5rem;
color: red;
}

.fa-paypal {
    color: #0099CC;
    padding: 5px;
}

.fa-cc-visa {
    color: blue;
    padding: 5px;
}

.fa-cc-mastercard  {
    color:  red;
    padding: 5px;
}

.fa-cc-amazon-pay {
    color: green;
    padding: 5px;
}

.icon_smartech {
    width: 20px;
}