.annulate{
    margin-left: 50px;
  
}

.annuler-tit{
    font-size: 20px;
    margin-left: 50px;
}
.annuler-para{
    margin-left: 50px;
}
.encast-bloc{
    margin-top: 30px;
}
.retour-bloc{
    background-color: #fdeca6;
}
